sconnService/iotInterop/Service References/iotDbService/iotDatabaseConnector.DAL.POCO.Device.Notify.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iotDatabaseConnector.DAL.POCO.Device.Notify" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iotDatabaseConnector.DAL.POCO.Device.Notify" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" />
  <xs:complexType name="ArrayOfParameterChangeHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParameterChangeHistory" nillable="true" type="tns:ParameterChangeHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameterChangeHistory" nillable="true" type="tns:ArrayOfParameterChangeHistory" />
  <xs:complexType name="ParameterChangeHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParameterChangeId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="Property" nillable="true" type="q1:DeviceParameter" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterChangeHistory" nillable="true" type="tns:ParameterChangeHistory" />
</xs:schema>