iotDomainController/Service References/iotDbService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" />
  <xs:element name="DomainAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q1:iotDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DomainAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DomainAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q2:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q3:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q4:DeviceAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActionAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q5:DeviceProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PropertyAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q6:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocationAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResParamAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q7:DeviceParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResParamAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResParamAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReqParamAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q8:ActionParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReqParamAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReqParamAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypeAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="type" nillable="true" type="q9:DeviceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypeAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceTypeAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCredentialsAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="creds" nillable="true" type="q10:DeviceCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCredentialsAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceCredentialsAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndpointAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="endp" nillable="true" type="q11:EndpointInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndpointAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndpointAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="SitesResult" nillable="true" type="q12:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Devices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DevicesResult" nillable="true" type="q13:ArrayOfDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DeviceActionsResult" nillable="true" type="q14:ArrayOfDeviceAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceProperties">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevicePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DevicePropertiesResult" nillable="true" type="q15:ArrayOfDeviceProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceParameters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DeviceParametersResult" nillable="true" type="q16:ArrayOfDeviceParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Domains">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DomainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DomainsResult" nillable="true" type="q17:ArrayOfiotDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainWithName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainWithNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="GetDomainWithNameResult" nillable="true" type="q18:iotDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Locations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="LocationsResult" nillable="true" type="q19:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DeviceTypesResult" nillable="true" type="q20:ArrayOfDeviceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionParams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="ActionParamsResult" nillable="true" type="q21:ArrayOfActionParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCredentials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DeviceCredentialsResult" nillable="true" type="q22:ArrayOfDeviceCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Endpoints">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndpointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="EndpointsResult" nillable="true" type="q23:ArrayOfEndpointInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="GetDomainWithIdResult" nillable="true" type="q24:iotDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="SiteWithIdResult" nillable="true" type="q25:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DeviceWithIdResult" nillable="true" type="q26:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceActionWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceActionWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DeviceActionWithIdResult" nillable="true" type="q27:DeviceAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevicePropertieWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevicePropertieWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DevicePropertieWithIdResult" nillable="true" type="q28:DeviceProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceParameterWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceParameterWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DeviceParameterWithIdResult" nillable="true" type="q29:DeviceParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DomainWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DomainWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DomainWithIdResult" nillable="true" type="q30:iotDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="LocationWithIdResult" nillable="true" type="q31:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypeWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypeWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DeviceTypeWithIdResult" nillable="true" type="q32:DeviceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionParamWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionParamWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="ActionParamWithIdResult" nillable="true" type="q33:ActionParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCredentialWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCredentialWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="DeviceCredentialWithIdResult" nillable="true" type="q34:DeviceCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndpointWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndpointWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="EndpointWithIdResult" nillable="true" type="q35:EndpointInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DomainUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q36:iotDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DomainUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DomainUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q37:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q38:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q39:DeviceAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActionUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q40:DeviceProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PropertyUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q41:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocationUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResParamUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q42:DeviceParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResParamUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResParamUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReqParamUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q43:ActionParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReqParamUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReqParamUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="type" nillable="true" type="q44:DeviceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceTypeUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCredentialsUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="creds" nillable="true" type="q45:DeviceCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCredentialsUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceCredentialsUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndpointUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="endp" nillable="true" type="q46:EndpointInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndpointUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndpointUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DomainRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q47:iotDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DomainRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DomainRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q48:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q49:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q50:DeviceAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActionRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q51:DeviceProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PropertyRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q52:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocationRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResParamRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q53:DeviceParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResParamRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResParamRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReqParamRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="domain" nillable="true" type="q54:ActionParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReqParamRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReqParamRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypeRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="type" nillable="true" type="q55:DeviceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypeRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceTypeRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCredentialsRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="creds" nillable="true" type="q56:DeviceCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCredentialsRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceCredentialsRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndpointRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="endp" nillable="true" type="q57:EndpointInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndpointRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndpointRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="dev" nillable="true" type="q58:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDevicePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDevicePropertiesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceActionState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="dev" nillable="true" type="q59:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceActionStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDeviceActionStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformDeviceAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" minOccurs="0" name="act" nillable="true" type="q60:DeviceAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformDeviceActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerformDeviceActionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>