MqttBrokerRuntime/Service References/iotDbService/iotDbConnector.DAL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iotDbConnector.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="iotDomain">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainId" type="xs:int" />
      <xs:element minOccurs="0" name="DomainName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sites" nillable="true" type="tns:ArrayOfSite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="iotDomain" nillable="true" type="tns:iotDomain" />
  <xs:complexType name="ArrayOfSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Site" nillable="true" type="tns:Site" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSite" nillable="true" type="tns:ArrayOfSite" />
  <xs:complexType name="Site">
    <xs:sequence>
      <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:ArrayOfDevice" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="tns:iotDomain" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siteLocation" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Site" nillable="true" type="tns:Site" />
  <xs:complexType name="ArrayOfDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevice" nillable="true" type="tns:ArrayOfDevice" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actions" nillable="true" type="tns:ArrayOfDeviceAction" />
      <xs:element minOccurs="0" name="Credentials" nillable="true" type="tns:DeviceCredentials" />
      <xs:element minOccurs="0" name="DeviceId" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceLocation" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndpInfo" nillable="true" type="tns:EndpointInfo" />
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfDeviceProperty" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="tns:Site" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:DeviceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="ArrayOfDeviceAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceAction" nillable="true" type="tns:DeviceAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceAction" nillable="true" type="tns:ArrayOfDeviceAction" />
  <xs:complexType name="DeviceAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionId" type="xs:int" />
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Device" nillable="true" type="tns:Device" />
      <xs:element minOccurs="0" name="LastActivationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequiredParameters" nillable="true" type="tns:ArrayOfActionParameter" />
      <xs:element minOccurs="0" name="ResultParameters" nillable="true" type="tns:ArrayOfDeviceParameter" />
      <xs:element minOccurs="0" name="VisualRepresentationURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceAction" nillable="true" type="tns:DeviceAction" />
  <xs:complexType name="ArrayOfActionParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionParameter" nillable="true" type="tns:ActionParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionParameter" nillable="true" type="tns:ArrayOfActionParameter" />
  <xs:complexType name="ActionParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="tns:DeviceAction" />
      <xs:element minOccurs="0" name="ParamDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterId" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:ParameterType" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisualRepresentationUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sconnMappers" nillable="true" type="tns:ArrayOfsconnConfigMapper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionParameter" nillable="true" type="tns:ActionParameter" />
  <xs:complexType name="ParameterType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentationURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterId" type="xs:int" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfDeviceParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterType" nillable="true" type="tns:ParameterType" />
  <xs:complexType name="ArrayOfDeviceParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceParameter" nillable="true" type="tns:DeviceParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceParameter" nillable="true" type="tns:ArrayOfDeviceParameter" />
  <xs:complexType name="DeviceParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="tns:DeviceAction" />
      <xs:element minOccurs="0" name="ParamDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterId" type="xs:int" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="tns:DeviceProperty" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:ParameterType" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisualRepresentationUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sconnMappers" nillable="true" type="tns:ArrayOfsconnConfigMapper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceParameter" nillable="true" type="tns:DeviceParameter" />
  <xs:complexType name="DeviceProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Device" nillable="true" type="tns:Device" />
      <xs:element minOccurs="0" name="LastUpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PropertyDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyId" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultParameters" nillable="true" type="tns:ArrayOfDeviceParameter" />
      <xs:element minOccurs="0" name="VisualRepresentationURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceProperty" nillable="true" type="tns:DeviceProperty" />
  <xs:complexType name="ArrayOfsconnConfigMapper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sconnConfigMapper" nillable="true" type="tns:sconnConfigMapper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsconnConfigMapper" nillable="true" type="tns:ArrayOfsconnConfigMapper" />
  <xs:complexType name="sconnConfigMapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionParam" nillable="true" type="tns:ActionParameter" />
      <xs:element minOccurs="0" name="ConfigType" type="xs:int" />
      <xs:element minOccurs="0" name="MapperId" type="xs:int" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="tns:DeviceParameter" />
      <xs:element minOccurs="0" name="SeqNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sconnConfigMapper" nillable="true" type="tns:sconnConfigMapper" />
  <xs:complexType name="DeviceCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthLevel" nillable="true" type="tns:AppAuthLevel" />
      <xs:element minOccurs="0" name="CredentialId" type="xs:int" />
      <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:ArrayOfDevice" />
      <xs:element minOccurs="0" name="HashData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PermissionExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceCredentials" nillable="true" type="tns:DeviceCredentials" />
  <xs:complexType name="AppAuthLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppAuthLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="Credentials" nillable="true" type="tns:ArrayOfDeviceCredentials" />
      <xs:element minOccurs="0" name="Read" type="xs:boolean" />
      <xs:element minOccurs="0" name="Write" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppAuthLevel" nillable="true" type="tns:AppAuthLevel" />
  <xs:complexType name="ArrayOfDeviceCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceCredentials" nillable="true" type="tns:DeviceCredentials" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceCredentials" nillable="true" type="tns:ArrayOfDeviceCredentials" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lng" type="xs:double" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="EndpointInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Device" nillable="true" type="tns:Device" />
      <xs:element minOccurs="0" name="EndpointId" type="xs:int" />
      <xs:element minOccurs="0" name="Hostname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="RequiresAuthentication" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupportsAllJoynProtocol" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupportsCoAPProtocol" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupportsMQTTProtocol" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupportsOnvifProtocol" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupportsRESTfulProtocol" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupportsSconnProtocol" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndpointInfo" nillable="true" type="tns:EndpointInfo" />
  <xs:complexType name="ArrayOfDeviceProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceProperty" nillable="true" type="tns:DeviceProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceProperty" nillable="true" type="tns:ArrayOfDeviceProperty" />
  <xs:complexType name="DeviceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:ArrayOfDevice" />
      <xs:element minOccurs="0" name="TypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisualRepresentationURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceType" nillable="true" type="tns:DeviceType" />
  <xs:complexType name="ArrayOfiotDomain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="iotDomain" nillable="true" type="tns:iotDomain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfiotDomain" nillable="true" type="tns:ArrayOfiotDomain" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="ArrayOfDeviceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceType" nillable="true" type="tns:DeviceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceType" nillable="true" type="tns:ArrayOfDeviceType" />
  <xs:complexType name="ArrayOfEndpointInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EndpointInfo" nillable="true" type="tns:EndpointInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEndpointInfo" nillable="true" type="tns:ArrayOfEndpointInfo" />
</xs:schema>